node_modules/
build/
dist/
.env
data/**
cassandra/**
.pnpm-store/**
.DS_Store
.eslintcache
globalConfig.json
redis/**
kafka/**
*.mongodb
*.crt
*.key
*.pem
target/
tsconfig.tsbuildinfo
v8-compile-cache-0/